# Ignore Gradle files
.gradle/
build/

# Ignore IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules

# Ignore Eclipse files
.classpath
.project
.settings/
bin/

# Ignore local class files
*.class

*.hprof

